@{
    ViewBag.Title = "Index";
}

<link href="../../Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="../../Content/ui.jqgrid.css" rel="stylesheet" type="text/css" />

<h2>Felix Main</h2>
<div id="main">
</div>

<script src="../../Scripts/jquery-1.4.4.js" type="text/javascript"></script>
<script src="../../Scripts/jquery-ui.js" type="text/javascript"></script>

<script src="../../Scripts/plugins/grid.locale-tw.js" type="text/javascript"></script>
<script src="../../Scripts/plugins/jquery.jqGrid.src.js" type="text/javascript"></script>

<script src="../../Scripts/felix.js" type="text/javascript"></script>
