@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Felix List</title>
</head>
<body>
    <div>
        <table id="felix-list"></table>
        @*no pager <div id="pager2"></div>*@
    </div>
</body>
<script src="../../Scripts/felix-list.js" type="text/javascript"></script>
</html>
